.reserveContainer {
  background-color: #fff5da;
}

.introSection {
  padding: 50px;

  text-align: center;
}

.gg {
  display: flex;
  gap: 30px;
}

.sectionImage {
  color: #333;
  width: 700px;
}

.introTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.introContent {
  max-width: 800px;
  margin: 0 auto;
}

.introText {
  font-size: 21px;
  padding-top: 40px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
  text-align: left;
}
