/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-image 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
}

.welcomeText {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.ctaButton {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #ff6633;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #ff4500;
}

.navButton {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 15px;
  margin: 0 10px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
  height: 70px;
  width: 70px;
}
