@font-face {
  font-family: "Alamsyah";
  src: url("../../assets/fonts/alamsyah.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color: #975a2b;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f7de9f;
  text-decoration: none;
  font-family: "Alamsyah", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #f7de9f;
  transition: color 0.3s;
}

ul li a:hover {
  color: white;
}

.active {
  border-bottom: 2px solid white;
}
