.dishDetails {
  padding: 20px;
  text-align: center;
  background-color: #fdf5e6;
  border-radius: 15px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dishName {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: "Alamsyah", sans-serif;
  color: #975a2b;
  text-transform: uppercase;
}

.dishImage {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dishHistory {
  font-size: 1rem;
  color: #5c4033;
  text-align: justify;
  margin-bottom: 20px;
}

.dishDetails h3 {
  font-size: 1.8rem;
  color: #975a2b;
  margin-top: 20px;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.dishDetails ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #2c3e50;
}

.dishDetails ul li {
  font-size: 1rem;
  border: 2px solid #975a2b;
  border-radius: 5px;
  padding: 10px;
  background: #fffaf0;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.dishDetails p {
  font-size: 1rem;
  color: #5c4033;
  text-align: justify;
  margin-bottom: 15px;
}

.dishDetails a {
  display: inline-block;
  color: #975a2b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border: 2px solid #975a2b;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.dishDetails a:hover {
  background-color: #975a2b;
  color: #fffaf0;
}
