.footer {
  background-color: #975a2b;
  color: #f7de9f;
  padding: 2rem 0;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  color: #f7de9f;
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.socialLinks a {
  color: #f7de9f;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: white;
}

.contactInfo {
  font-size: 1rem;
}

.footerBottom {
  border-top: 1px solid #f7de9f;
  padding-top: 1rem;
}

.footerBottom p {
  margin: 0;
  font-size: 1rem;
  color: #f7de9f;
}

.footer {
  align-self: flex-end;
}
.contactInfo p {
  color: #f7de9f;
}
